<div id="wrapCurrency">
    <mat-form-field>
        <input matInput [matDatepicker]="picker1" [min]="minStart" [max]="maxStart" placeholder="Start" [(ngModel)]="dateStart.value" (dateChange)="changeDate('start', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker1" (click)="openPopup('start')"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput [min]="minEnd" [max]="maxEnd" [matDatepicker]="picker2" placeholder="End" [(ngModel)]="dateEnd.value" (dateChange)="changeDate('end', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <app-currency></app-currency>
</div>