<button mat-button (click)="updateTbl()" color="primary">Filter</button>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" id="currancyTbl">

  <!-- Date -->
  <ng-container matColumnDef="exchangedate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
    <td mat-cell *matCellDef="let element"> {{element.exchangedate}} </td>
  </ng-container>

  <!-- USD -->
  <ng-container matColumnDef="usd">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> USD </th>
    <td mat-cell *matCellDef="let element"> {{element.usd}} </td>
  </ng-container>

  <!-- EUR -->
  <ng-container matColumnDef="eur">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> EUR </th>
    <td mat-cell *matCellDef="let element"> {{element.eur}} </td>
  </ng-container>

  <!-- GBP -->
  <ng-container matColumnDef="gbp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> GBP </th>
        <td mat-cell *matCellDef="let element"> {{element.gbp}} </td>
      </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>